<div class="home-container">
  <div class="left-panel">
    <div class="logo">
      <img src="assets/logo.png" alt="SegurApp Logo" />
      <h1>SegurApp</h1>
    </div>
    <p class="subtitle">
      Protege tu comunidad con SegurApp<br />
      ¡Reporta, colabora y haz la diferencia en tu ciudad!
    </p>
    <p class="description">
      Conéctate con tu comunidad y mejora la seguridad. Reporta incidentes, recibe alertas y colabora por un entorno más seguro. ¡Actúa con SegurApp!
    </p>
  </div>

  <div class="right-panel">
    <h2 class="welcome-title">Bienvenido</h2>
    <div class="card">
      <h3>Accede a tu cuenta</h3>
      <button class="btn" (click)="navigateToRegister()">Regístrate</button>
      <button class="btn" (click)="navigateToLogin()">Inicia sesión</button>
    </div>
  </div>
</div>